.page-footer {
  text-align:center; font-size:$font-size-small;
  @include show-on($screen-md-min){
     padding-bottom:50px;
    ul { @include inline-list(); }
  }
  ul { padding:0; }
  li { padding:0 10px; list-style:none; }
}
