//media queries
@mixin show-on($media){
  @media only screen and (min-width:$media) { @content; }
}

@mixin grow($v){
  transform:scale(1); transition:all 0.2s;
  &:hover { transform:scale(#{$v}); }
}

@mixin inline-list(){
  margin:0; padding:0;
  li { display:inline-block; }
}

@mixin circle-button(){
  background:rgba(black,0.05); width:40px; height:40px; border-radius:50%; text-align:center; line-height:40px;
}

@mixin taller-than($media){
  @media only screen and (min-height:$media) and (min-width:$screen-lg-min) { @content; }
}
