body.overlay-open { overflow:hidden; }

.overlay {
  position:fixed; top:0; left:0; bottom:0; right:0; z-index:2;
  .overlay-bg { position:relative; color:white; @extend .wrap; background:$dark-grey; height:100%; overflow:auto; padding:20px 0; }
  .cancel {
    position:absolute; top:20px; right:20px; @include circle-button(); background:white;
    &:hover { color:$brand-danger; }
  }
  h1 {
    margin:0 0 50px; text-align:center;
    a { font-size:$font-size-base; display:block; font-weight:normal; font-family:"Playfair Display", serif; margin-top:10px; }
  }
  .central-loader { font-size:$font-size-h2; text-align:center; }
  @include show-on($screen-md-min){
    .cancel { top:25px; right:30px; font-size:$font-size-h1; color:white; @include grow(1.1); height:auto; width:auto; background:none; }
    form {
      width:$max-inner-width;
      button { margin-top:30px; }
      .response-message { margin-top:30px; text-align:right; }
    }
  }
}

.overlay-flex {
  display:flex; min-height:100%; justify-content:center; align-items:center;
  .flex-box {
    max-width:$max-inner-width; padding:20px;
    @include show-on($screen-md-min){ padding:50px; }
  }
}

.tweets-list {
  margin:0; padding:0; list-style:none;
  li { margin-bottom:40px; display:flex; }
  .img-wrap { flex: 0 0 70px; padding-top:10px; }
  img { border-radius:50%; }
}
