%aside.overlay.animate-hide-slide-in{ :'ng-show' => 'Overlay.emailOverlay', :'esc-fn' => 'escOverlays', :'ng-cloak' => '' }
  .overlay-bg.border
    %a.fa.fa-times.cancel{ :'ng-click' => 'Overlay.closeOverlays()' }

    .overlay-flex.animate-hide-slide-in-delayed{ :'ng-controller' => 'EmailController', :'ng-show' => 'Overlay.emailOverlay' }
      .flex-box

        %form{ :'ng-submit' => 'sendMail()', :name => 'emailForm', :'ng-class' => '{ "loading" : loading}' }
          %h1 Send A Message
          %fieldset
            %label
              Name
              %span.required.fa{ :'ng-class' => "emailForm.name.$valid ? 'fa-check valid' : 'fa-times'" }
            %input{ :type => 'text', :name => 'name', :'ng-model' => 'email.name', :'focus-me'=>'{{Overlay.emailOverlay}}', :required => '', :maxlength => '40', :minlength => '3' }
          %fieldset
            %label
              Email
              %span.required.fa{ :'ng-class' => "emailForm.email_address.$valid ? 'fa-check valid' : 'fa-times'" }
            %input{ :type => 'email', :name => 'email_address', :'ng-model' => 'email.email_address', :required => '', :maxlength => '40', :minlength => '3' }
          %fieldset
            %label Phone (not required)
            %input{ :type => 'text', :name => 'phone_number', :'ng-model' => 'email.phone_number', :maxlength => '14' }
          %fieldset
            %label
              Message
              %span.required.fa{ :'ng-class' => "emailForm.message.$valid ? 'fa-check valid' : 'fa-times'" }
            %textarea{ :name => 'message', :'ng-model' => 'email.message', :required => '', :maxlength => '600', :minlength => '10' }
            / :'pattern' => '[a-zA-Z\d ,.!]+'
          .row
            .col-md-5
              %button.with-icon{ :type => 'submit', :'ng-disabled' => 'loading', :'ng-class' => '{ "show-icon" : loading }' }
                Message Ahoy
                %span.icon.animate-hide-fade-in{ :'ng-show' => 'loading' }
                  %span.fa.fa-refresh.fa-spin

            .col-md-7
              .response-message.animate-hide-slide-up-in{ :'ng-show' => 'responseMessage', :'ng-class' => '{ "error" : responseError }' } {{responseMessage}}
