%footer.page-footer.border
  .row
    .col-lg-12
      %ul
        %li
          %a{ :href=>'http://www.writelessdomore.co.uk/', :target=>'_blank' } Articles
        %li
          %a{ :href=>'http://codepen.io/garethdweaver', :target=>'_blank' } Codepen
        %li
          %a{ :href=>'/GarethWeaverCV.pdf', :target=>'_blank' } CV.pdf
        %li
          %a{ :'ng-click' => 'Overlay.toggleOverlay("twitterOverlay")' } Follow Me
        %li
          %a.email-me{ :'ng-click' => 'Overlay.toggleOverlay("emailOverlay")' } Email Me
        %li
          &copy; G.Weaver 2014
