%section.border
  .row
    .col-lg-4
      %ul
        %li
          //%a{ :href=> '#' }
          //%img{ :src => 'http://www.garethweaver.com/assets/images/ico-psd.png', :alt => 'Adobe Photoshop Icon' }
          Adobe Photoshop
        %li
          // %img{:src=>'http://www.garethweaver.com/assets/images/ico-ai.png', :alt=>'Adboe Illustrator Icon'}
          Adobe Illustrator
        %li
          // %img{:src=>'http://www.garethweaver.com/assets/images/ico-id.png', :alt=>'Adobe Indesign Logo'}
          Adobe Indesign
        %li
          // %img{:src=>'http://www.garethweaver.com/assets/images/ico-sub.png', :alt=>'Sublime Text Logo'}
          Sublime Text
        %li
          // %img{:src=>'http://www.garethweaver.com/assets/images/ico-html.png', :alt=>'Html5 Logo'}
          HTML5
        %li
          // %img{:src=>'http://www.garethweaver.com/assets/images/ico-css.png', :alt=>'Css3 Logo'}
          CSS3
        %li
          // %img{:src=>'http://www.garethweaver.com/assets/images/ico-haml.png', :alt=>'Haml Logo'}
          Haml
        %li
          // %img{:src=>'http://www.garethweaver.com/assets/images/ico-sass.png', :alt=>'Sass Logo'}
          Sass &amp; Compass

    .col-lg-4
      %ul
        %li
          // %img{:src=>'http://www.garethweaver.com/assets/images/ico-js.png', :alt=>'Javascript Logo'}
          Javascript
        %li
          // %img{:src=>'http://www.garethweaver.com/assets/images/ico-coffee.png', :alt=>'Coffee Script Logo'}
          CoffeeScript
        %li
          // %img{:src=>'http://www.garethweaver.com/assets/images/ico-jq.png', :alt=>'JQuery Logo'}
          Jquery
        %li
          // %img{:src=>'http://www.garethweaver.com/assets/images/ico-zepto.png', :alt=>'Zepto Logo'}
          Zepto
        %li
          // %img{:src=>'http://www.garethweaver.com/assets/images/ico-ajax.png', :alt=>'Refresh Logo'}
          Ajax &amp; HTML5 History API
        %li
          // %img{:src=>'http://www.garethweaver.com/assets/images/ico-php.png', :alt=>'Php Logo'}
          PHP
        %li
          // %img{:src=>'http://www.garethweaver.com/assets/images/ico-sql.png', :alt=>'MySQL Logo'}
          MYSQL
        %li
          // %img{:src=>'http://www.garethweaver.com/assets/images/ico-apache.png', :alt=>'Apache Logo'}
          Basic Apache

    .col-lg-4
      %ul
        %li
          // %img{:src=>'http://www.garethweaver.com/assets/images/ico-git.png', :alt=>'Github Logo'}
          Github
        %li
          // %img{:src=>'http://www.garethweaver.com/assets/images/ico-respond.png', :alt=>'Responsive Deign Logo'}
          Responsive Design
        %li
          // %img{:src=>'http://www.garethweaver.com/assets/images/ico-email.png', :alt=>'Design For Email Logo'}
          Design For Email
        %li
          // %img{:src=>'http://www.garethweaver.com/assets/images/ico-camp.png', :alt=>'Campaign Monitor Logo'}
          Campaign Monitor
        %li
          // %img{:src=>'http://www.garethweaver.com/assets/images/ico-chimp.png', :alt=>'MailChimp Logo'}
          Mailchimp
        %li
          // %img{:src=>'http://www.garethweaver.com/assets/images/ico-boot.png', :alt=>'Twitter Bootstrap Logo'}
          Twitter Bootstrap
        %li
          // %img{:src=>'http://www.garethweaver.com/assets/images/ico-zurb.png', :alt=>'Zurb Foundation Logo'}
          Zurb Foundation
        %li
          // %img{:src=>'http://www.garethweaver.com/assets/images/ico-api.png', :alt=>'Gear Logo'}
          API: Gmaps, Youtube, Vimeo
